Repository zeppelinos/labs, pull requests merged in 2018-03, with the labels that each got.

#24 Adds example of opt-in token migration strategy
  migrating_legacy_token/contracts/BurnContract.sol
  migrating_legacy_token/contracts/LegacyToken.sol
  migrating_legacy_token/contracts/Migrations.sol
  migrating_legacy_token/contracts/OwnedUpgradeabilityProxy.sol
  migrating_legacy_token/contracts/OwnedUpgradeableTokenStorage.sol
  migrating_legacy_token/contracts/Proxy.sol
  migrating_legacy_token/contracts/TokenProxy.sol
  migrating_legacy_token/contracts/TokenStorage.sol
  migrating_legacy_token/contracts/UpgradeabilityOwnerStorage.sol
  migrating_legacy_token/contracts/UpgradeabilityProxy.sol
  migrating_legacy_token/contracts/UpgradeabilityStorage.sol
  migrating_legacy_token/contracts/ownership/Ownable.sol
  migrating_legacy_token/contracts/ownership/OwnableStorage.sol
  migrating_legacy_token/contracts/test/Token_V0.sol
  migrating_legacy_token/contracts/test/Token_V1.sol
  migrating_legacy_token/migrations/1_initial_migration.js
  migrating_legacy_token/package-lock.json
  migrating_legacy_token/package.json
  migrating_legacy_token/test/migrateFromERC20.js
  migrating_legacy_token/truffle.js
Labels: research, upgradeability

#32 VTables approach enhancement
  .gitignore
  upgradeability_with_vtable/contracts/IRegistry.sol
  upgradeability_with_vtable/contracts/Proxied.sol
  upgradeability_with_vtable/contracts/Proxy.sol
  upgradeability_with_vtable/contracts/Registry.sol
  upgradeability_with_vtable/contracts/UpgradeabilityProxy.sol
  upgradeability_with_vtable/contracts/UpgradeabilityStorage.sol
  upgradeability_with_vtable/contracts/Upgradeable.sol
  upgradeability_with_vtable/contracts/test/Token.sol
  upgradeability_with_vtable/package-lock.json
  upgradeability_with_vtable/package.json
  upgradeability_with_vtable/test/Upgradeable.js
  upgradeability_with_vtable/test/helpers/assertRevert.js
  upgradeability_with_vtable/test/helpers/signature.js
  upgradeability_with_vtable/truffle.js
Labels: enhancement, upgradeability

#46 Initial ZEP token version
  kernel/contracts/Migrations.sol
  kernel/contracts/ZepToken.sol
  kernel/migrations/1_initial_migration.js
  kernel/package-lock.json
  kernel/package.json
  kernel/test/ZepToken.test.js
  kernel/truffle.js
Labels: kernel

#47 Implementation of the kernel initial version
  .gitignore
  kernel/contracts/KernelInstance.sol
  kernel/contracts/KernelRegistry.sol
  kernel/contracts/ZepCore.sol
  kernel/test/ZepCore.test.js
Labels: kernel
